<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    body {
        font-size: 18px;
        line-height: 1.8;
        color: #222;
        background: #f8f8f8;
        font-weight: 400;
        font-family: Poppins;
    }

    hr {
        margin-top: -1%;
    }

    input {
        width: 90%;
        border: none;
        padding: 6px 30px;
        background-color: transparent;
        outline: 0;
    }

    .form-group {
        border: none;
        border-bottom: 1px solid #999;
    }

    .main {
        margin-top: 10%;
        background-color: #ffffff;
        width: 50%;
        padding: 5%;
    }

    button {
        font-family: Centaur;
    }

    .error {
        bottom: 0;
        color: red;
        width: 50%;
    }
</style>

<body>
    <center>
        <div class="main shadow-lg p-3 mb-5 bg-white rounded">
            <h2 class="form-title">Sign Up</h2><br>
            <form action="/login" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="fName">
                        <i class="fa fa-user"></i>
                    </label>
                    <input type="text" name="fName" placeholder="First name ...">
                </div>
                <div class="form-group">
                    <label for="lName">
                        <i class="fa fa-user"></i>
                    </label>
                    <input type="text" name="lName" placeholder="Last name ...">
                </div>
                <div class="form-group">
                    <label for="email">
                        <i class="fa fa-envelope"></i>
                    </label>
                    <input type="email" name="email" id="email" placeholder="Email Address ..." required>
                </div>
                <div class="form-group">
                    <label for="cemail">
                        <i class="fa fa-envelope"></i>
                    </label>
                    <input type="email" name="cemail" id="cemail" placeholder="Confirm Email ..." required>
                </div>
                <div class="form-group">
                    <label for="password">
                        <i class="fa fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Password ...">
                </div>
                <div class="form-group">
                    <label for="cpassword">
                        <i class="fa fa-lock"></i>
                    </label>
                    <input type="password" name="cpassword" placeholder="Confirm Password ...">
                </div>
                <button type="submit" id="btn" class="btn btn-primary" style="font-size:large;">Register</button>
            </form>
        </div>
        <div class="error">
            <small id="eremail"></small>
            <ul class="list-group">
                <% for(let i = 0; i< data.length; i++){ %>
                <li class="list-group-item"><%= data[i] %></li>
                <% } %>
            </ul>
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(() => {

        $("#email").on("input", function () {
            validate("email")
        });
        $('#cemail').on('input', () => {
            validate("cemail")
        })
        function validate(id) {
            var filter = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (!filter.test($("#"+id).val())) {
                $('#eremail').text("Email is not valid!")
                $('#btn').attr('disabled', true)
            } else {
                $('#eremail').text("")
                $('#btn').attr('disabled', false)
            }
        }
    })
</script>

</html>